<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/background.css' />
  </head>
  <body>
    <div class="container">
      <div class="center">
        <div class="announcement circle">
          <p class="top">Kine &amp; Iver</p>
          <p class="date center">26.06.15 - 28.06.15</p>
          <p class="bottom">Save the date</p>
        </div>
      </div>
    </div>
  </body>
</html>
