<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="center line"></div>
      <div class="center">
        <div class="announcement circle">
          <h1>Save the date</h1>
          <p class="date">27.06.15 - 29.06.15</p>
          <p>Kine &amp; Iver</p>
        </div>
      </div>
    </div>
  </body>
</html>
