<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/css/v2/style.css' />
    <script src='javascripts/jquery.min.js' type='text/javascript'></script>
    <script src='javascripts/v2/scroll.js' type='text/javascript'></script>
  </head>
  <body>
    <nav class="menu-wrapper">
      <div class="container">
        <div class="menu">
          <div><a class="menu-link menu-friday" href"#" data-menu-button="friday">Fredag</a></div>
          <div><a class="menu-link menu-saturday" href"#" data-menu-button="saturday">Lørdag</a></div>
          <div><a class="menu-link menu-sunday" href"#" data-menu-button="sunday">Søndag</a></div>
        </ul>
      </div>
    </nav>


    <div class="wrapper">

    <article class="slide main active" data-slide="main">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Vi gifter oss</div>
          <div class="date center">26.06.15 - 28.06.15</div>
          <div class="bottom"><p class="text">K & I</p></div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <article class="slide friday" data-slide="friday">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Fredag 26.06.15</div>
          <div class="date center">Skogstad Gård</div>
          <div class="bottom"><p class="text">Vi starter bryllupshelgen med en uformell samling på familiegården til Iver, for å bli litt bedre kjent.</p></div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <div class="info-area">
      <div class="container">
        <div class="info-img">
          <div class="info-circle info-friday"></div>
        </div>
        <div class="info-text"></div>
          <h1>Skogstad</h1>
          <p>Peder og Marte Dihle tok over gården i 1960(?) osv.</p>
        </div>

    </div>
    <div class="slicer"></div>
    <article class="slide saturday" data-slide="saturday">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Lørdag 27.06.15</div>
          <div class="date center">Kimbu & Helgaker Gård</div>
          <div class="bottom"><p class="text">Den store dagen starter med vielse på familiehytta til Kine. Deretter blir det bryllupsfest på Helgaker Gård.</p></div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <article class="slide sunday" data-slide="sunday">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Søndag 28.06.15</div>
          <div class="date center">Helgaker Gård</div>
          <div class="bottom"><p class="text">Det vil bli lunsj og mimring på Helgaker Gård, før vi takker for en fin helg.</p></div>
        </div>
      </div>
    </article>
  </div>
  </body>
</html>
