<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/css/v2/style.css' />
    <script src='javascripts/jquery.min.js' type='text/javascript'></script>
    <script src='javascripts/v2/scroll.js' type='text/javascript'></script>
  </head>
  <body>
    <nav class="menu-wrapper">
      <div class="container">
        <div class="menu">
          <div><a class="menu-link menu-friday" href"#" data-menu-button="friday">Fredag</a></div>
          <div><a class="menu-link menu-saturday" href"#" data-menu-button="saturday">Lørdag</a></div>
          <div><a class="menu-link menu-sunday" href"#" data-menu-button="sunday">Søndag</a></div>
        </ul>
      </div>
    </nav>


    <div class="wrapper">

    <article class="slide main active" data-slide="main">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">26.06.15 - 28.06.15</div>
          <div class="middle center">Vi gifter oss!</div>
          <div class="bottom"><p>K & I</p></div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <div class="info-area">
      <div class="container">
        <div class="info-img">
          <div class="info-circle info-main"></div>
        </div>
        <div class="info-text"></div>
          <h1>Vi gifter oss!</h1>
          <p class="text">
            Helgen 26.-28. juni 2015 gifter vi oss, etter 10 år som kjærester og vi håper at du har lyst til å være med å feire.
            Hold av datoene for en helg på Hadeland.
            I tiden fremover vil du kunne finne informasjon om bryllupshelgen her. Vi gleder oss!
            </p>
            <br>
            <p class="text">PS: Det vil bli muligheter for å booke overnatting på Helgaker Gård for hele helgen. Mer informasjon kommer.</p>
        </div>
    </div>
    <div class="slicer"></div>
    <article class="slide friday" data-slide="friday">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Fredag 26.06.15</div>
          <div class="middle center">Skogstad Gård</div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <div class="info-area">
      <div class="container">
        <div class="info-img">
          <div class="info-circle info-friday"></div>
        </div>
        <div class="info-text"></div>
          <h1>Skogstad</h1>
          <p class="text">
            Helgen starter med en uformell samling på familiegården til Iver for å bli litt bedre kjent.
            Bryggingen av bryllupsølet er allerede i gang, og fint vær er besilt.
          </p>
        </div>
    </div>
    <div class="slicer"></div>
    <article class="slide saturday" data-slide="saturday">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Lørdag 27.06.15</div>
          <div class="middle center">Kimbu<br> &<br> Helgaker Gård</div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <div class="info-area">
      <div class="container">
        <div class="info-img">
          <div class="info-circle info-saturday"></div>
        </div>
        <div class="info-text"></div>
          <h1>Kimbu & Helgaker Gård</h1>
          <p class="text">
            Den store dagen starter med vielse på familiehytta til Kine, også kjent som Kimbu.
            Deretter blir det mottakelse, middag og bryllupsfest på Helgaker Gård.
            Vi sørger for transporten, dere sørger for gode dansesko til de sene nattetimer.
          </p>
        </div>
    </div>
    <div class="slicer"></div>
    <article class="slide sunday" data-slide="sunday">
      <div class="announcement-wrapper">
        <div class="announcement announcement-circle">
          <div class="top">Søndag 28.06.15</div>
          <div class="middle center">Helgaker Gård</div>
        </div>
      </div>
    </article>
    <div class="slicer"></div>
    <div class="info-area">
      <div class="container">
        <div class="info-img">
          <div class="info-circle info-sunday"></div>
        </div>
        <div class="info-text"></div>
          <h1>Helgaker Gård</h1>
          <p class="text">Det vil bli lunsj og mimring på Helgaker Gård, før vi takker for en fin helg.</p>
        </div>
    </div>
    <div class="slicer"></div>
  </div>
  </body>
</html>
